<script src="/socket.io/socket.io.js"></script>
<script src="/views/libs/myun.js"></script>

<style>
body
{
	margin: 0;
	padding: 0;
}

.object
{
	position: absolute;
	outline: 1px solid #ddd;
	overflow: visible;
}

.object > .object-image
{
	background-repeat: no-repeat;
	
	position: absolute;
	left: 0;
	bottom: 0;
}

.npc
{
	transition: all 0.5s;
}

.map
{
	position: absolute;
	left: 0;
	top: 0;
	
	outline: 1px solid #ddd;
	
	transition: all 0.05s linear;
}

.screen
{
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	
	overflow: hidden;
}

#scrollBoundary
{
	position: fixed;
	left: 40%;
	right: 40%;
	top: 40%;
	bottom: 40%;
	outline: 1px solid #ddd;
}
</style>

<!-- 캐릭터, 오브젝트등 -->
<style>
.object1
{
}

.character
{
	
}
</style>

<div id="screen" class="screen">
	<div id="map" class="map"></div>
	<canvas id="canvasMap"></canvas>
</div>
<div id="scrollBoundary"></div>