<script src="/socket.io/socket.io.js"></script>

<style>
.character
{
	position: absolute;
	width: 75px;
	height: 100px;
}
</style>

<script>
var speed = 10;
var createCharacter = function(character)
{
	var position = character.position;
	
	var x = position.x * speed;
	var y = position.y * speed;
	
	var template = '<img class="character" src="/views/images/cha_ass_m.gif">';
	template = $(template);
	template.attr('id', character.id).css('left', x + 'px').css('top', y + 'px');
	
	$('#map').append(template);
};

var moveCharacter = function(character)
{
	var position = character.position;
	var x = position.x * speed;
	var y = position.y * speed;
	
	$('#' + character.id).css('left', x + 'px').css('top', y + 'px');
};

var socket = io.connect();
socket.on('CONNECTED', function(characters)
{
	for(var key in characters)
	{
		createCharacter(characters[key]);
	}
});
socket.on('USER_CONNECTED', function(character)
{
	if($('#' + character.id).length <= 0) 
		createCharacter(character);
});

socket.on('MOVE_CHARACTER', function(characters)
{
	for(var key in characters)
		moveCharacter(characters[key]);
});

$(window).on('keydown', function(e)
{
	var keyCode = e.keyCode;
	if(keyCode == 68)
	{
		socket.emit('MOVE_CHARACTER', 'right');
	}
	else if(keyCode == 83)
	{
		socket.emit('MOVE_CHARACTER', 'down');
	}
	else if(keyCode == 65)
	{
		socket.emit('MOVE_CHARACTER', 'left');
	}
	else if(keyCode == 87)
	{
		socket.emit('MOVE_CHARACTER', 'up');
	}
});
</script>

<div id="screen" class="screen">
	<div id="map" class="map"></div>
</div>