<script src="/socket.io/socket.io.js"></script>

<style>
.character
{
	position: absolute;
	left: 0;
	top: 0;
	width: 50px;
	height: 50px;
	
	outline: 1px solid black;
}
</style>

<script id="characterTemplate" type="text/template">
<div class="character"></div>
</script>

<script>
var drawCharacter = function(character)
{
	if(character)
	{
		var template = $($('#characterTemplate').html());
		$(template).attr('id', character.name);
		template.text(character.name);
		template.get(0).data = character;
		template.css('left', character.position.x * 50);
		template.css('top', character.position.y * 50);
		
		$('#map').append(template);
	}
};
</script>

<script>
var mapData = null;

var setup = function()
{
	console.log("맵데이터 : ", mapData);
	
// 	var id = null;
// 	var socket = io.connect();
// 	socket.on('connect', function()
// 	{
		
// 	});

// 	socket.on('GET_MAP_DATA', function(map)
// 	{
// 		try
// 		{
// 			for(var i=0; i<map.length; i++)
// 			{
// 				for(var j=0; j<map.length; j++)
// 				{
// 					if(typeof map[j][i] == 'object')
// 					{
// 						console.log("오브오브");
// 						if(map[j][i].type == 'user')
// 						{
// 							drawCharacter(map[j][i]);
// 						}
// 					}
// 				}
// 			}	
// 		}
// 		catch(err)
// 		{
// 			console.log(err);
// 		}
// 	});

// 	socket.on('INIT_CHARACTER_POSITION', function(result)
// 	{
// 		drawCharacter(result);
// 	});

// 	socket.on('MOVE_CHARACTER', function(result)
// 	{
// 		if(result)
// 		{
// 			console.log(result);
// 			$('#' + result.name).css('left', result.x * 50).css('top', result.y * 50);
// 		}
// 	});

// 	$(window).on('keydown', function(e)
// 	{
// 		var keyCode = e.keyCode;
// 		console.log(keyCode);
		
// 		if(keyCode == 68)
// 		{
// 			socket.emit('MOVE_CHARACTER', 'e');
// 		}
// 		else if(keyCode == 83)
// 		{
// 			socket.emit('MOVE_CHARACTER', 's');
// 		}
// 		else if(keyCode == 65)
// 		{
// 			socket.emit('MOVE_CHARACTER', 'w');
// 		}
// 		else if(keyCode == 87)
// 		{
// 			socket.emit('MOVE_CHARACTER', 'n');
// 		}
// 	});
};

$.ajax({url : '/battle/getMapData'}).done(function(data)
{
	mapData = data;
	setup();
	
}).fail(function(error)
{
	console.log(error);	
});
</script>

<div id="map">

</div>