<script>
var setCharacterInfo = function(callback)
{
	$.ajax({url : 'http://localhost:9001/getRandomCharacter'}).done(function(data)
	{
		$('#createCharacterForm').get(0).hp.value = data.hp;
		$('#createCharacterForm').get(0).mp.value = data.mp;
		
		if(callback)
			callback();
	}).fail(function(error)
	{
		$('#error').text(JSON.stringify(error));
	});
};

$(document).ready(function()
{
	setCharacterInfo(function()
	{
		formSubmit('#createCharacterForm', function(data)
		{
			console.log("데이터 : ", data);
		});
		
		$('#refresh').on('click', function()
		{
			setCharacterInfo();
		});
	});
});
</script>

<div class="background">
	<form id="createCharacterForm">
		<div>
			<label>HP</label>
			<input type="text" name="hp" readonly>
		</div>
		<div>
			<label>MP</label>
			<input type="text" name="mp" readonly>
		</div>
		<div>
			<button type="button" id="refresh">새로고침</button>
		</div>
		<div>
			<input type="text" name="name" placeholder="이름">
		</div>
		<div>
			<input type="submit" value="접속">
		</div>
	</form>
	<div id="error"></div>
</div>