<script>
var login = function(data)
{
	$.ajax({url : '/login', type : 'post', data : data}).done(function(data)
	{
		if(data == 'login_success')
		{
			location.href = "/select_character";
		}
		else if(data == 'password_disaccord')
		{
			$('#loginForm input:last').val('비밀번호가 일치하지 않습니다.');
		}
	}).fail(function(error)
	{
		console.log(error);
		if(error.status == 404)
		{
			$('<div> <label>비밀번호 확인</label> <input type="password" name="passwordConfirm"> </div>').insertBefore('#loginForm div:last');
			$('<p style="color: red; font-size:12px;">등록된 사용자가 없습니다. 등록하세요.</p>').insertAfter('#loginForm input:last');
			$('#loginForm input:last').val('등록');
		}
	});
};
$(document).ready(function()
{
	formSubmit('#loginForm', function(data)
	{
		if(data.passwordConfirm)
		{
			if(data.password == data.passwordConfirm)
			{
				$.ajax({url : '/users', type : 'post', data : data}).done(function()
				{
					login(data);
				}).fail(function(error)
				{
					$('#loginForm p').text(error);
				});
			}
			else
			{
				$('#loginForm p').text('비밀번호가 일치하지 않습니다');
			}
		}
		else
		{
			login(data);
		}
	});
});
</script>

<div>
	<form id="loginForm">
		<div>
			<label>아이디</label>
			<input type="text" name="username">
		</div>
		<div>
			<label>비밀번호</label>
			<input type="password" name="password">
		</div>
		<div>
			<input type="submit" value="로그인">
		</div>
	</form>
</div>